@model IEnumerable<DbEmployee>
@{
    ViewBag.Title = "Employee Details";
}
    <h1>Employees</h1>
<div class="container">
    <div class="row">
        @foreach (var emp in Model)
        {
            var photoPath = "~/images/" + (emp.PhotoPath ?? "noimage.png");
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="card-deck">
                    <div class="card m-3">
                        <div class="card-header">
                            <h3>@emp.Name</h3>
                        </div>
                        <div class="text-center">
                            <img class="card-img-top" src="@photoPath" asp-append-version="true" style="width:200px;height:200px" />
                            <span style="display:block"><b><label asp-for="@emp.Name"></label> : @emp.Name</b></span>
                            <span style="display:block"><b><label asp-for="@emp.Email"></label> : @emp.Email</b></span>
                            <span style="display:block"><b><label asp-for="@emp.Department"></label> : @emp.Department</b></span>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-controller="home" asp-action="details" asp-route-id="@emp.EmployeeID" class="btn btn-primary">View</a>
                           <a asp-controller="Home" asp-action="Edit" asp-route-Id ="@emp.EmployeeID" class="btn btn-primary m-1">Edit</a>
                           <a asp-controller="Home" asp-action="Delete" asp-route-Id="@emp.EmployeeID" class="btn btn-danger m-1">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/CustomScript.js"></script>
}
